*,:before,:after {margin: 0;padding: 0;box-sizing: border-box;} body {font-family: 'vardan', sans-serif;line-height: 1.7;color: #516171;}

/* template 3 css start */
a{text-decoration: none;}
ol, ul{list-style: none;}
.header-h1 span{font-weight: 600;color: #222528;}
.crt-tm p{margin-bottom: 2px;}
.crt-name input{padding: 0 10px;}
.crt-tm p{color: #d44d4f;font-size: 14px;letter-spacing: 1px;}
.bg-in input{border: none;}
.bg-in select{border: none;color: #ccc;}
.bg-in{border: 1px solid;width: 100%;max-width: 250px;}
.template-1 h4 {font-size: 14px;}
.template-1 {display: flex;gap: 10px;align-items: baseline;background: #cf682f;padding: 4px 8px;color: #fff;letter-spacing: 1px;border-radius: 4px;}
.bg-crt{width: 100%;max-width: 180px;}
.main-tem-3{display: flex;justify-content: start;gap: 30px;align-items: end;padding-top: 50px;}
.sitemap-icon{display: flex;align-items: baseline;gap: 10px;}
.sitemap-id ul li{position: relative;}
.sitemap-id ul li::before {content: "";display: inline-block;width: 24px;height: 21px;border-bottom: 1px #000 solid;position: absolute;top: -7px;left: -23px;}
.sitemap-id ul li::after {content: "";display: inline-block;width: 24px;height: 22px;border-left: 1px #000 solid;position: absolute;top: -8px;left: -23px;}
.sitemap-id ul li a{color: #222528;}
.sitemap-icon{padding: 50px 0;}
.sitemap-id ul li i{color: #00497667;}
.card-p h4, .card-ps h4{font-size: 14px;margin-bottom: -2px;color: #fff;}
.card-p i{color: #fff;}
.footer-section-card {display: flex;justify-content: end;align-items: center;gap: 30px;border-top: 1px solid #ccc;padding-top: 20px;}
.card-p{display: flex;gap: 20px;}
.card-ps, .card-p{background:#cf682f;padding: 10px 20px;border-radius: 4px;}
.foote-map-start{padding-bottom: 30px;}
.footer-section-card .card-p:last-child{background:#858f996b;}
.footer-section-card .card-p:last-child i, .footer-section-card .card-p:last-child h4{color: #6C5243;}
/* template 3 css end */


